.copyright__container {
  margin-bottom: 74px;

  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.copyright__title {
  span {
    color: #333d4b;
    font-weight: 900;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
  }
}

.copyright__description {
  span {
    color: #333d4b;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
  }
}
