.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;

  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 27, 55, 0.1);
}

.header__container {
  margin: auto;

  width: 100%;
  max-width: 1140px;
}

.header__container__inner {
  width: 92%;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container__logo {
  width: 110px;
  height: 20px;
  background-image: url(/src/assets/svgs/logo-toss.svg);
  background-repeat: no-repeat;
}

.header__container__nav {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.header__container__nav__item {
  padding: 12px 10px;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 15px;
    line-height: 20px;
    color: #4e5968;
  }
}

.header__container__nav__item:hover {
  background-color: #f2f4f6;
}

.header__container__nav__item--active {
  padding: 7px 12px;
  border-radius: 6px;
  background-color: #3182f6;
  span {
    color: #f9fafb;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }
}

.header__container__nav__item--active:hover {
  background-color: #1b64da;
}
